

.pr-tab-contain .tab-menu ul {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.pr-tab-contain .tab-menu ul li {
  display: inline-block;
  margin-right: 60px;
}
.pr-tab-contain .tab-menu ul li:last-of-type {
  margin-right: 0;
}
.pr-tab-contain .tab-menu ul li a {
  padding: 15px 0 10px;
  color: rgba(0, 0, 0, 0.4);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid transparent;
}
.pr-tab-contain .tab-menu ul li a:hover {
  color: #000000;
}
.pr-tab-contain .tab-menu ul li.active a {
  color: #000000;
  border-bottom: 2px solid #bd943c;
}
.pr-tab-contain .tab-menu a.btn_web {
  float: right;
  border-color: #ffffff;
  color: #ffffff;
  background-color: #002e4b;
}
.pr-tab-contain .tab-content-wrap {
  margin-top: 50px;
}
.pr-tab-contain .tab-content-wrap .fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -ms-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.pr-tab-contain .tab-content-wrap .fade.in {
  opacity: 1;
}
.pr-tab-contain .tab-content-wrap .tab-content {
  display: none;
  padding-bottom: 80px;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
}
.pr-tab-contain .tab-content-wrap .tab-content.active {
  display: inline-block;
}






@media only screen and (max-width: 1199px) {

  /***** Courses inner *****/
  .pr-tab-contain .tab-menu ul {
    margin-top: 0;
    width: 100%;
  }
  
  
}

@media only screen and (max-width: 991px) {
  
  
  .pr-tab-contain .tab-menu ul li {
    margin-right: 20px;
  }
 

}
/* Landscape phones and portrait tablets */
@media only screen and (max-width: 767px) {
  

  .pr-tab-contain .tab-menu ul li {
    border: 1px solid #CCCCCC;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .pr-tab-contain .tab-menu ul li.active {
    border-color: #bd943c;
  }
  .pr-tab-contain .tab-menu ul {
    overflow: auto;
    overflow-y: hidden;
    text-align: left;
    white-space: nowrap;
  }
  .pr-tab-contain .tab-menu ul:after {
    display: none;
  }
  .pr-tab-contain .tab-menu ul li {
    margin-left: -3px;
  }
  .pr-tab-contain .tab-menu ul li:first-of-type {
    margin-left: 0;
  }
  .pr-tab-contain .tab-menu ul li a {
    border-bottom: none !important;
    padding: 15px 50px;
  }
  .pr-tab-contain .tab-menu ul li {
    margin-right: 0;
  }
 
}

@media (min-width:768px) {
	.new_courses_sec .pr-tab-contain .tab-menu ul {
		display: flex;
    width:100%
	}

	.new_courses_sec .pr-tab-contain .tab-menu ul li a {
		padding:10px 20px; background:#fff; display:block; border-rig
	}
	.new_courses_sec .pr-tab-contain .tab-menu ul li {
		margin-right:0; width:16.66%; text-align:center
	}
}






